/* shared for all buttons */
button, [class^=btn], .btn {
  display: inline-block;
  padding: var(--yGap) var(--xDoubleGap);
  background: var(--primCol) none top left;
  border: var(--borderWidth) solid var(--primCol);
  border-radius: var(--borderRadius);
  font-size: var(--fontSize);
  font-family: var(--font);
  color: var(--lightest);

  cursor: pointer;
}
button:hover, [class^=btn]:hover, .btn:hover {
  background-color: var(--lightest);
  color: var(--primCol);
}
a[class^=btn] {
  text-decoration: none;
}

/* using secondary colour */
.btn--alt {
  background-color: var(--secCol);
  border-color: var(--secCol);
}
.btn--alt:hover {
  color: var(--secCol);
}

/* set of buttons for a one select */
.select--btns button {
  padding: var(--yHalfGap) var(--xGap);
  border-color: var(--secCol);
  background-color: var(--lightest);
  color: var(--dark);
}
.select--btns button:hover {
  border-color: var(--brown);
}
.select--btns button[data-selected="true"] {
  border-color: var(--dark);
  background-color: var(--secCol);
}

/*ko-fi link - button style*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.btn--kofi {
  box-sizing: border-box;
  max-width: 260px;
  padding: calc(var(--yHalfGap)/2) var(--xHalfGap);
  background-color: var(--dark);
  border-color: var(--dark);
  border-radius: 16px;
  font-family: "Quicksand", sans-serif;
  font-size: var(--smallFontSize);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn--kofi:hover {
  background-color: var(--dark);
  color: var(--light);
  border-color: var(--primCol);
}
.btn--kofi span {
  display: inline-block;
}
.btn--kofi svg {
  display: inline-block;
  padding-right: var(--xHalfGap);
  animation: kofi-wiggle 3s infinite;
}
@keyframes kofi-wiggle {
  0%{transform:rotate(0) scale(1)}
  60%{transform:rotate(0) scale(1)}
  75%{transform:rotate(0) scale(1.12)}
  80%{transform:rotate(0) scale(1.1)}
  84%{transform:rotate(-10deg) scale(1.1)}
  88%{transform:rotate(10deg) scale(1.1)}
  92%{transform:rotate(-10deg) scale(1.1)}
  96%{transform:rotate(10deg) scale(1.1)}
  100%{transform:rotate(0) scale(1)}
}
