@import 'prism.scss';

.code, pre[class*=language-] {
	padding: var(--yGap) var(--xGap);
  box-sizing: border-box;
	border: var(--borderWidth) solid var(--primCol);
  border-radius: var(--borderRadius);
	background-color: var(--dark);
	color: var(--lightest);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.code code, pre[class*=language-] code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}