:root {
  --black: hsla(315, 3%, 15%, 1);
	--brown: hsla(315, 3%, 25%, 1);
  --cream: hsla(33, 55%, 94%, 1);
  --white: hsla(60, 33%, 99%, 1);

  --purple: hsla(273, 36%, 59%, 1);
  --pink: hsla(346, 63%, 59%, 1);
  --orange: hsla(5, 74%, 62%, 1);
  --yellow: hsla(38, 86%, 67%, 1);
  --green: hsla(131, 30%, 58%, 1);
  --blue: hsla(179, 38%, 53%, 1);
	
	/* abstract colours -> all components use prim or sec, change it per component in situ */
  --primCol: var(--purple);
  --secCol: var(--green);
	
	/* darks & lights - although I will use black & white in use */
	--darkest: var(--black);
	--dark: var(--brown);
	--light: var(--cream);
	--lightest: var(--white);
}

