@font-face {
  font-family: 'Sans';
  src: url('../fonts/HurmeGeometricSans3.otf') format('opentype');
}
@font-face {
  font-family: 'Sans';
  font-style: italic;
  src: url('../fonts/HurmeGeometricSans3Oblique.otf') format('opentype');
}
@font-face {
  font-family: 'Sans';
  font-weight: bold;
  src: url('../fonts/HurmeGeometricSans3SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/HurmeGeometricSans3SemiBoldOblique.otf') format('opentype');
}

:root {
	--font: 'Sans', sans-serif;
}

