@font-face {
  font-family: 'Sans';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/858/HurmeGeometricSans3.otf') format('opentype');
}
@font-face {
  font-family: 'Sans';
  font-style: italic;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/858/HurmeGeometricSans3Oblique.otf') format('opentype');
}
@font-face {
  font-family: 'Sans';
  font-weight: bold;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/858/HurmeGeometricSans3SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: bold;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/858/HurmeGeometricSans3SemiBoldOblique.otf') format('opentype');
}

:root {
	--font: 'Sans', sans-serif;
}

