/* basic top site nav */
.site__nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: var(--yDoubleGap);
  padding: var(--yGap) 0px;

  border-bottom: var(--borderWidth) solid var(--dark);
}
.site__nav li {
  font-size: var(--largeFontSize);
}
.site__nav a {
  color: var(--dark);
}
.site__nav a:hover {
  color: var(--primCol);
}

/* socials */
.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social-links li a {
  padding: 0px;
  border: none;
}
.social-links li a svg {
  width: auto; height: 64px;
  padding:var(--yHalfGap) var(--xHalfGap);
  box-sizing: border-box;
  background-color: var(--light);
  border-radius: var(--borderRadius);
}
// .social-links li a:hover svg {
//   background-color: var(--dark);
// }
.social-links li a svg path {
  fill: var(--dark);
}
.social-links li a:hover svg path {
  fill: var(--primCol);
}

// media queries
// @include until($screenLarge) { height: 54px; }
// @include until($screenMedium) { height: 44px; }
// @include at-least($screenXlarge) { height: 74px; }

.footer-site {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



