.sub--largebk {
	background-image: paint(largeBackground);
}
.sub--smallbk {
	background-image: paint(smallBackground);
}
.sub--highlight1 {
	background-image: paint(headerBackground);
	padding: var(--yGap) 0px;
}
.sub--highlight2 {
	background-image: paint(headerBackgroundTwo);
	padding: var(--yGap) 0px;

}
.sub--callout {
	background-image: paint(calloutBackground);
	padding: calc(var(--yGap)*2) calc(var(--xGap)*2);
	border: 1px solid var(--primCol);
	border-width: 2px 0px;
}
.sub--bullet {
	background-image: paint(bulletBackground);
	padding: var(--yGap) 0px var(--yGap) calc(var(--xGap)*2);
}
.sub--cta {
	display: inline-block;
	background-image: paint(ctaBackground);
	padding: calc(var(--yGap)*2) calc(var(--xGap)*4);
	border: 1px solid var(--primCol);
}
.sub--btn {
	display: inline-block;
	background-image: paint(ctaBackground);
	padding: calc(var(--yGap)*2) calc(var(--xGap)*4);
	border: 1px solid var(--primCol);
}