/* typography */
/* ============================== HEADERS */
[class*="heading"], h1, h2, h3, h4, h5, h6 {
  margin: var(--yGap) 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.heading--large, h1 {
  font-size: var(--largeHeaderSize);
}
.heading--medium, h2 {
  font-size: var(--mediumHeaderSize);
}
.heading--small, h3 {
  font-size: var(--smallHeaderSize);
}
/* ======================= TEXT */
.text, p {
  margin: var(--yGap) 0px;
  font-size: var(--fontSize);
}

.text--lede {
	font-size: var(--largeFontSize);
}

.text--small {
	font-size: var(--smallFontSize);
}

/* ======================= LINKS */
.link, a {color: var(--primCol); text-decoration: none;}
.link:hover, a:hover {text-decoration: underline;}

[class*=list] {
  margin: var(--yGap) 0px;
}
.list {
	padding-left: var(--xDoubleGap);
	list-style-type: circle;
}
.list--numbered {
	padding-left: var(--xDoubleGap);
	list-style-type: upper-roman;
}
.list--desc {
	display: flow-root;
}
.list--desc dt, .list--desc dd {
	width: 50%;
	box-sizing: border-box;
	padding: var(--xHalfGap);
}
.list--desc dt {
	float: left;
	text-align: right;
}
.list--desc dd {
	float: right;
	text-align: left;
}

[class*=quote] {
  margin: var(--yGap) 0px;
}
.quote {
	margin-left: var(--xGap);
	padding: var(--yHalfGap) var(--xGap);
	border-left: var(--borderWidth) solid var(--primCol);
}
q, cite {display: block;}
q::before {
	content: '\201F';
}
q::after {
	content: '\201E';
}
cite {
	font-size: var(--smallFontSize);
	color: var(--primCol);
}
.quote--callout {
	width: 50%;
	padding: var(--yGap) var(--xGap);
	border: var(--borderWidth) solid var(--primCol);
	border-radius: var(--borderRadius);
	box-shadow: var(--boxShadow);
	background-color: var(--lightest);
}
.quote--callout q {font-size: var(--largeFontSize);}
.quote--callout q::before, .quote--callout q::after {font-size: var(--largeHeaderSize); color: var(--primCol); line-height:0.5;}

