/* remove this */
#colours i {
	display: inline-block; width: 30px; height: 30px;
}
#colours i:nth-of-type(1) {background-color: var(--col1);}
#colours i:nth-of-type(2) {background-color: var(--col2);}
#colours i:nth-of-type(3) {background-color: var(--col3);}
#colours i:nth-of-type(4) {background-color: var(--col4);}
#colours i:nth-of-type(5) {background-color: var(--col5);}
#colours i:nth-of-type(6) {background-color: var(--col6);}
#colours i:nth-of-type(7) {background-color: var(--darkest);}
#colours i:nth-of-type(8) {background-color: var(--dark);}
#colours i:nth-of-type(9) {background-color: var(--light);}
#colours i:nth-of-type(10) {background-color: var(--lightest);}