body {
	padding: 2vh;
}

.paint .paint--large {width: 70vw; min-height: 50vh; padding: 2vw;}
.paint .paint--small {width: 30vw;}
.paint .paint__header--one {width: 50vw;}
.paint .paint__header--two {width: 50vw;}
.paint .paint__callout {width: 50vw;}
.paint .paint__bullet {}
.paint .paint__link {}
.paint .paint__cta--block {}